# Data Wrangling with Lytics Profile Data - Tools and Techniques

The goal of this notebook is to present some tools and techniques that can be used to wrangle Industry Dive data. 

## What is Data Wrangling again?
>Data wrangling, sometimes referred to as data munging, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.  Some transformation techniques include: parsing, joining, standardizing, augmenting, cleansing, and consolidating. 

[per wikipedia](https://en.wikipedia.org/wiki/Data_wrangling)

## Bad Data in, Bad Data out

![bad data in bad data out](https://cdn-images-1.medium.com/max/1200/0*YCghEemt6BtW9OZV.png "Bad Data in Bad Data out")

Many websites contain forms in order to collect information from users for various reasons.  In our case, we have signup forms for dives that asks for information about our users like so:

![signup form](../data/img/signup_form.png "signup form")

As you can see, there are fields that are restricted to pre-defined values (e.g., Job Function), and free-form fields (e.g., Company Name) where a user can type most anything they like.  Whenever users are exposed to free-form fields, there is a possibility of bad/messy/non-standardized data making into your system.

For example, here are some variants of "IKEA" that are present for user profiles that we have:

* IKEA
* IKEA AG
* IKEA Belgium
* IKEA Canada
* IKEA Danville
* IKEA Food
* IKEA Home Furnishings
* IKEA Portugal
* IKEA USA
* IKEA US EAST, LLC 215
* IKEA US

Without some wrangling, you would not be able to aggregate these folks properly into a single group based on company.

## Lytics Profile Data
Now, let's take a look at some Lytics profile data, which consists of all information we have about users who interact with our content.  Within this data, there are key demographic fields that can help us understand who our users are, such as:
* first and last name
* job title
* email domain
* company name
* address

The data file we are going to look at is an export of the "All" audience segment in Lytics.
https://activate.getlytics.com/audiences/4cc5d612f46fb86e5cfd0c995250e60c/summary?aid=2751

![All Audience segment in Lytics](../data/img/lytics_all_audience_segment.png "All Audience segment in Lytics")

Let's start looking at this data to see how we can clean it up in order to help us create more accurate statistics about our users.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/files/lytics_profile_data_export.csv', sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

# list columns in dataset
print(list(df))

# number of rows
print('# of rows left: %s' % df.shape[0])
# print(df[df['st_profile_id'].str.contains("5a2ba1f6ff530ac11a8b4868", na=False)])

['company', 'company_name', 'domain', 'emaildomain', 'emaildomains', 'st_profile_id', 'user_id', 'lytics_segment']
# of rows left: 782425

There are multiple fields in the data we can choose to cleanup, but first let's look at the "company_name" field.

In [3]:
# remove null company name values
df = df.dropna(subset=['company_name'])

# number of rows
print('# of rows left: %s' % df.shape[0])

# of rows left: 458289

In [4]:
# find values that are any combination of special characters
special_char_values = df['company_name'].str.contains("^[!@#$%^&*(),.?]*$", na=False)
print(df[special_char_values].company_name.unique())

# number of rows
print('# of special character value rows: %s' % df[special_char_values].shape[0])
df = df[~special_char_values]

print('# of rows left: %s' % df.shape[0])
# print(df[df['st_profile_id'].str.contains("5a2ba1f6ff530ac11a8b4868", na=False)])

['..' '.' '...' '*' '********' '......' ',' '.....' '***' '????????' '?'
 '**' '.......' ',,' '@@']
# of special character value rows: 103
# of rows left: 458186

In [5]:
# find values that are only numbers
number_values = df['company_name'].str.contains("^[0-9]*$", na=False)
print(df[number_values].company_name.unique())

# number of rows
print('# of number value rows: %s' % df[number_values].shape[0])
df = df[~number_values]

print('# of rows left: %s' % df.shape[0])

['1948' '1989' '1954' '451' '1957' '1979' '252' '1953' '1967' '8020'
 '1960' '5' '104' '1999' '123' '1974' '1988' '1977' '1000' '900' '1956'
 '605' '8760' '1984' '1959' '1998' '1972' '1992' '1997' '1991' '111'
 '1990' '1987' '1970' '1969' '1965' '1968' '1995' '1993' '1975' '1963'
 '231112027' '53' '1976' '1985' '1949' '149' '0' '1971' '1986' '346'
 '47723' '1947' '94122202312' '1' '1958' '1973' '43' '1935' '1961' '1994'
 '1946' '325024080134' '1996' '1982' '15' '34' '1952' '271' '1980' '1966'
 '1936' '47' '1978' '1964' '1928' '50' '2714' '1955' '1690' '1942' '13'
 '05358359981' '9172077326' '12' '151' '1951' '2000' '400000000000' '2'
 '1905' '2020' '1940' '1983' '2008' '198' '2013' '1962' '411' '2015' '295'
 '1950' '940005848995' '11455' '83255804' '2166833' '1001' '6' '91957'
 '14' '887000000000' '666' '59' '963' '32000' '555' '404' '0789243438'
 '438' '68' '1945' '525' '825' '2009' '1981' '8001504151' '136' '359'
 '365' '308' '940003979987' '6164381822' '1107' '0673282495' '2040' '745'
 '3211' '1871' '40041466109' '10' '1776' '1931' '2005' '8121066529'
 '42149777' '173' '130' '3' '3300909815' '458' '2019' '352158191' '347'
 '777' '701010' '002435500285' '983' '256' '940004104374' '918015150236'
 '28' '929' '591' '19' '2012' '719' '7' '465' '42' '207' '360' '2016' '54'
 '6489' '58']
# of number value rows: 721
# of rows left: 457465

In [6]:
# random additional values that I found when I was looking at the data in Excel
weird_vals = ['#NAME?', '{Re}', '< self >']
weird_values = df['company_name'].isin(weird_vals)
df = df[~weird_values]

# left over rows in dataframe
print('# of rows left: %s' % df.shape[0])

# of rows left: 457462

Now that we have cleaned all the bad company name values from our dataset, let's work on standardizing the names to help with comparison.

In [7]:
# change the values to all lower case
df['stndrdzed_company_name'] = df['company_name'].str.lower()
# remove all punctuation
df["stndrdzed_company_name"] = df['stndrdzed_company_name'].str.replace('[^\w\s]','')

# remove rows with "none" as value
none_rows = df['stndrdzed_company_name'].str.contains('none', na=False)
df = df[~none_rows]

# remove rows with "" as value
empty_string_rows = df['stndrdzed_company_name'].values == ''
df = df[~empty_string_rows]

# df.sort_values(by=['stndrdzed_company_name'])

Let's take a look at our dataset to see what we are working with:

In [8]:
grouped = df.groupby('stndrdzed_company_name')

grouped = grouped.size().reset_index(name='counts')
grouped.sort_values(by=['counts'], ascending=False)

                                 stndrdzed_company_name  counts
449                                    20160506deleteme    1364
214673                                             self     692
115522                                              ibm     545
263824                                          walmart     523
3715                                          accenture     512
147255                                            macys     444
230752                                          student     414
72555                                       duke energy     412
163621                                               mr     384
214692                                    self employed     379
235724                                           target     378
173896                                         novartis     350
203159                                          retired     338
264512                                 waste management     335
196171                                              pwc     325
186641                                           pfizer     324
65683                                          deloitte     317
100383                                           google     317
56303                                        consultant     316
12326                                            amazon     313
271713                                      xcel energy     304
202363                                republic services     303
224607                       southern california edison     292
13549                                             amgen     290
166903                                    national grid     288
179351                                           oracle     287
210887                                           sanofi     285
12831                           american electric power     285
185693                                          pepsico     276
84585                                                ey     275
...                                                 ...     ...
99852                               golden rays of hope       1
99851                                golden pony casino       1
99836                        golden nugget lake charles       1
99821                                      golden homes       1
99822                              golden hour farm llc       1
99823                      golden isles medical billing       1
99824                                      golden krust       1
99825                               golden krust bakery       1
99826                 golden krust caribbean bakery inc       1
99829                     golden living village gardens       1
99830                     golden media service provider       1
99832                       golden nugget atlantic city       1
99833                              golden nugget biloxi       1
99834                        golden nugget casino hotel       1
99835                         golden nugget flea market       1
99837                              golden nugget online       1
99850                           golden polytech pvt ltd       1
99838                       golden olives academy abuja       1
99839                           golden one credit union       1
99840                              golden opportunities       1
99841                                       golden pack       1
99842                                     golden palace       1
99843                              golden palm advisors       1
99844                                   golden pass lng       1
99845   golden pasta flour mills of nigeria plc nigeria       1
99846                         golden peacock consulting       1
99847                          golden peanut  tree nuts       1
99848                       golden peanut and tree nuts       1
99849                                    golden platter       1
275265                                          현대엔지니어링       1

[275266 rows x 2 columns]

One thing to note from looking at this is that there are company names that contain values other than English.  For instance, "현대엔지니어링" is Korean.  This is one thing you could work on eliminating as well if you wanted to focus on English values.  I tried to use a library called "langdetect" for this, but it did not do a good job of picking up the obvious cases.

Once we have wrangled the data bit, we can now try to enhance our dataset with an external dataset.  One of the datasets we bought rights to recently, DiscoverOrg, has different information about companies that could be usefull for analysis.  The common field these two datasets have is the company name.  So we can try to load this dataset and match the two up based on company name in order to enhance our existing set.

In [ ]:
df2 = pd.read_csv('../data/files/DiscoverOrg_Company_223030_20180731141156.csv', encoding='latin-1', sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

# change the values to all lower case
df2['stndrdzed_company_name'] = df2['Company Name'].astype(str).str.lower()
# remove all punctuation
df2["stndrdzed_company_name"] = df2['stndrdzed_company_name'].str.replace('[^\w\s]','')
df2.columns = ['company_id', 'company_name', 'domain','company_primary_industry','hq_country']
df2

## Use Cases

### Company Name
First, we will look at some techniques to apply to our dataset based on a recent request from Audience Dev.  They would like to create aggregate statistics about our users based on company name, so this will be the basis upon which we will transform our data.

In [567]:
# merge with discovery org data in order to find matches
merge = pd.merge(df, df2, how='inner', on=['stndrdzed_company_name'])

In [577]:
groups = merge.groupby('stndrdzed_company_name')
len(groups)

18927